name: CI Pipeline

on:
  push:
    branches:
      - main
      - 'feature/*'
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  sonarqube-analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up JDK 
        uses: actions/setup-java@v2
        with:
          java-version: '17'

      - name: Run SonarQube analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew sonarqube -Dsonar.host.url=${{ secrets.SONARQUBE_URL }} -Dsonar.projectKey=your_project_key -Dsonar.login=${{ secrets.SONAR_TOKEN }}
  
  build-and-push-docker:
    runs-on: ubuntu-latest
#    needs: sonarqube-analysis  # SonarQube 분석 후 실행
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set Docker image tag
        id: docker_tag
        run: |
          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            IMAGE_TAG=${{ github.ref_name }}  # 태그명으로 설정
          else
            IMAGE_TAG=latest
          fi
          echo "TAG=${IMAGE_TAG}" >> $GITHUB_ENV  # 환경 파일에 저장

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/hellospring:${{ steps.docker_tag.outputs.tag }} .

      - name: Push Docker image
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/hellospring:${{ steps.docker_tag.outputs.tag }}
