name: CI Pipeline

on:
  push:
    branches:
      - main
    pull_request:
      branches:
        - main

jobs:
  sonarqube-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up JDK 
        uses: actions/setup-java@v2
        with:
          java-version: '17'

      - name: Run SonarQube analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew sonarqube -Dsonar.host.url=${{ secrets.SONARQUBE_URL }} -Dsonar.projectKey=your_project_key -Dsonar.login=${{ secrets.SONAR_TOKEN }}

  build-and-push-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1  # 최신 커밋만 가져옵니다.

      - name: Fetch all tags
        run: git fetch --tags  # 모든 태그를 가져옵니다.

      - name: Set Docker image tag
        id: docker_tag
        run: |
          IMAGE_TAG=$(git describe --tags $(git rev-list --tags --max-count=1))
          echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/hellospring:${{ env.IMAGE_TAG }} .

      - name: Push Docker image
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/hellospring:${{ env.IMAGE_TAG }}
          docker tag ${{ secrets.DOCKER_USERNAME }}/hellospring:${{ env.IMAGE_TAG }} ${{ secrets.DOCKER_USERNAME }}/hellospring:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/hellospring:latest
